# Security Warning: Keep the secret key used in production secret!
SECRET_KEY=django-insecure-seacoxv2-static-site-key-change-in-production

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True